<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理员界面</title>
</head>
<body>
<table>
    <thead>
    <th>id</th>
    <th>uname</th>
    <th>password</th>
    </thead>
    <tbody>
    <!--            <tr th:each="admin:${pager.list}">-->
    <!--                <td th:text="${admin.id}"></td>-->
    <!--                <td th:text="${admin.uname}"></td>-->
    <!--                <td th:text="${admin.passwd}"></td>-->
    <!--            </tr>-->
    </tbody>
</table>
</body>
</html>